# Ignore virtualenv
.venv/
# Ignore pycache
__pycache__/
# Ignore OS-specific files
.DS_Store
*.swo
*.swp
*.swn
# Ignore IDE-specific files
.idea/
.vscode/
# Ignore temporary files
*.tmp
*.temp
# Ignore log files
*.log
